/* HTML要素 -------------------------------------------------------------------------------- */
/* 共通 -------------------------------------- */
html{
    /* 
        全体(ルート要素)のフォントサイズをレスポンシブ対応 
        -> 個別の要素は、基本的にremを使ってサイズを指定する。
    */
    /* 
        font-size: calc(A + B * (100vw - C)/D);
            A・・・最小文字サイズ
            B・・・最大文字サイズ – 最小文字サイズ
            C・・・最小画面幅
            D・・・最大画面幅 – 最小画面幅
    */
    /* 最小14px, 最大16px, 画面の横幅が320-1000pxの間のときは横幅に応じてサイズを変更する */
    font-size: max(14px, min(16px, calc(14px + 2 * (100vw - 320px)/680)));
}

body {
    /* iPhoneでのレイアウト崩れ対応 */
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}

/* class -------------------------------------------------------------------------------- */
/* 共通 -------------------------------------- */
.icon_margin_left {
    margin-left: 0.1rem;
}

/* Header -------------------------------------- */
/* ヘッダー左上のアプリメインタイトル&アイコン */
.app_title{
    text-decoration:none;
    font-weight: normal;
    font-size: 1.3rem;
    display:block;
}

/* ヘッダー右上のメニュータイトル&アイコン */
.header_menu_title{
    text-decoration:none;
    font-weight: normal;
    font-size: 1.15rem;
    display:block;
}
.header_menu_padding{
    padding-right: 1.0rem;
}

/* Top ------------------------------------------------ */
/* 画面の背景用 */
.top-bg-all{
    width:100%;
    height:100%;
    display: flex;
}
.top-bg-image{
    background-image: url("/images/background-image/sea_ishigakijima.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width:100%;
    height:100%;
}
/* 要素の上下左右中央揃え -- containerとbox */
.top-centered-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.top-centered-box{
    padding-left: 10%;
    padding-right: 10%;
}

/* Top画面各要素のスタイル */
.top-text-appname{
    color:white;
    text-align: center;
    font-size:2rem;
    text-shadow: 0.5px  0.5px 0.5px #0277BD,
                -0.5px  0.5px 0.5px #0277BD,
                 0.5px -0.5px 0.5px #0277BD,
                -0.5px -0.5px 0.5px #0277BD;
}
.top-text{
    color:white;
    text-align: center;
    padding-bottom: 1.0rem;
    font-size:1.2rem;
    text-shadow: 0.5px  0.5px 0.5px #0277BD,
                -0.5px  0.5px 0.5px #0277BD,
                 0.5px -0.5px 0.5px #0277BD,
                -0.5px -0.5px 0.5px #0277BD;
}
.top-button{
    font-size:1.0rem !important;
}
.top-button-box{
    padding-bottom: 3rem;
}
.top-icon-padding{
    padding-right: 0.2rem;
}


/* WeatherComponent -------------------------------------- */
/* 現在地/目的地selectエリアのタイトル */
.select_area_title{
    /* selectorとフォントサイズを揃える */
    font-size: 16px;
}

/* 現在地selectのアイコン */
.from_color {
    /* color: #f89c12 !important; */
    color: #1e9fa4 !important;
}
/* 目的地selectのアイコン */
.to_color {
    color: #35d3da !important;
}

/* About -------------------------------------- */
.about_all_div{
    margin:2rem;
}
.about_h {
    font-weight: 600;
    /* Headerと同色。orange darken-1 */
    border-bottom: 0.5px solid #FB8C00;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}